services:
  - postgresql

before_script:
  - psql -c 'create database ladybugtools_test;' -U postgres
  - psql \ladybugtools_test -c 'create extension if not exists "uuid-ossp";' -U postgres
  - psql -c 'create database ladybugtools;' -U postgres
  - psql \ladybugtools -c 'create extension if not exists "uuid-ossp";' -U postgres

language: python

python:
  - "3.6"

install:
 - pip install -r requirements.txt

script:
  - python manage.py test
